a {
  color: black;
  text-decoration: none;
}

li {
  float: left;
  width: 5%;
  list-style: none;
  background-color: purple;
  text-align: left;
  margin-left: 130px;
  padding-left: 10px;
}

img {
  width: 750px;
  height: 450px;
  image-resolution: 72px;
  margin-left: 20%;
}
